{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
  <div class="features">
       <h1>Про нас</h1>
       <p>Наш сайт создан для того, что бы сделать обучение по школьной программе интереснее и увлекательнее. Множество упражнений по математике, русскому языку, литературному чтению, окружающему миру не только развлекут ребенка, но и помогут закрепить навыки, требуемые в рамках федерального государственного образовательного стандарта.</p>
        <button class="btn btn-danger">Жми</button>
   </div>
{% endblock %}
